<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Imagen decorativa -->
  <img src="../../assets/img/inicioN.png" alt="login" class="imagen_responsiva">

  <ion-card>
    <ion-card-content>
      <!-- Campo de Usuario con ícono -->
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input [(ngModel)]="username" name="username" type="text"></ion-input>
      </ion-item>
      
      <!-- Campo de Contraseña con ícono -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
      </ion-item>

      <!-- Botón para iniciar sesión con ícono -->
      <ion-button expand="full" color="light" shape="round" (click)="login()">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Iniciar Sesión
      </ion-button>

      <!-- Enlace para recuperar contraseña -->
      
    </ion-card-content>
  </ion-card>
  <h3><a (click)="forgotPassword()" class="small-text">¿Olvidaste tu contraseña? Aquí.</a></h3>
  
  <ion-footer color="dark">
    <!-- Iconos fijos en la parte inferior -->
    <ion-buttons slot="bottom">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-button fill="clear" color="dark" (click)="camara()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="dark" (click)="geolocalizacion()">
        <ion-icon name="locate" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-footer>