<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Listar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">product-list</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <ion-item>
    <ion-label>
      <font color="red">Utilizando un Accesador
        <ion-button [routerLink]="['/product-add']">Agregar</ion-button>
      </font>
    </ion-label>
  </ion-item>
  <ion-list padding>
    <!-- Recorremos el arreglo de registros utilizando item-->
    <ion-item *ngFor="let p of productos">all/
      <!-- Icono al inicio (start)-->
      <ion-icon name="star" slot="start"></ion-icon>
      <!-- Campos de item -->
      <ion-label>{{p.precio | currency:' ':true:'1.0-2'}}</ion-label>
      <!-- Icono al final -->
      <ion-icon name="information-circle" slot="end"></ion-icon>
      <!-- routerlink salta a otra pagina-->
      <ion-button [routerLink]="['/product-edit/',p.idProducto]">Edit</ion-button><br />
      <!-- routerlink salta a otra pagina, pero con id del item-->
      <ion-button [routerLink]="['/product-detail',p.idProducto]">Detail</ion-button><br />
    </ion-item>
  </ion-list>


</ion-content>
  



