<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <!-- Agrega aquí los elementos necesarios para la recuperación de contraseña -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
      </ion-item>

      <ion-button expand="full" color="medium" shape="round" (click)="recoverPassword()">Recuperar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer color="dark">
  <!-- Iconos fijos en la parte inferior -->
  <ion-buttons slot="bottom">
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-button fill="clear" color="dark" (click)="camara()">
      <ion-icon name="camera" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="dark" (click)="geolocalizacion()">
      <ion-icon name="locate" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-footer>