<ion-header>
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenid@ </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pastelería Dulce Pecado</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img src="../../assets/img/inicioN.png" alt="logo" class="imagen_responsiva">
      <ion-card-header>
        <ion-card-title>Gestiona y solicita tus dulces pedidos</ion-card-title>
        <ion-card-subtitle>Regístrate ahora y sumérgete en un mundo de delicias dulces.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Regístrate e inicia sesión para una de las mejores experiencias.
      </ion-card-content>

      <!-- Botones agregados con íconos -->
      <ion-button expand="full" (click)="ingresar()">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Ingresar
      </ion-button>
      <ion-button expand="full" (click)="crearCuenta()">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Crear Cuenta
      </ion-button>
    </ion-card>

    <div class="centrado">
      <ion-card>
        <!-- Contenido del segundo ion-card -->
      </ion-card>
    </div>
  </div>

  <ion-footer>
    <!-- Iconos fijos en la parte inferior -->
    <ion-buttons slot="bottom">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-linkedin"></ion-icon>
    </ion-buttons>
  </ion-footer>
</ion-content>
