<!-- geolocalizacion.page.html -->

<ion-header>
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Geolocalización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pastelería Dulce Pecado</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Mapa -->
  <div id="map" style="height: 300px;"></div>

  <ion-card>
    <ion-card-content>
      <h2>Coordenadas del Usuario:</h2>
      <p>Latitud: {{ latitude }}</p>
      <p>Longitud: {{ longitude }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
