<ion-header>
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Imagen decorativa 1 -->
  <img src="../../assets/img/creacn.png" alt="logo" class="imagen_responsiva">

  <ion-list>

    <!-- Campo de Nombre de usuario -->
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input aria-label="username" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    <ion-note>Ingresa un nombre de usuario único.</ion-note>

    <!-- Campo de Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input aria-label="password" [(ngModel)]="password" type="password" name="password" required></ion-input>
    </ion-item>
    <ion-note>La contraseña debe contener al menos 8 caracteres.</ion-note>

    <!-- Campo de Correo electrónico -->
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>

    <!-- Campo de Número de teléfono -->
    <ion-item>
      <ion-label position="floating">Número de teléfono</ion-label>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-input [(ngModel)]="phoneNumber" type="tel" required></ion-input>
    </ion-item>

  </ion-list>

 

  <ion-button expand="full" color="light" shape="round" (click)="register()">CREAR MI CUENTA</ion-button>
  

</ion-content>
